<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
                I have over 15 years of experience as a software engineer, and have worked effectively in
                dynamic environments with an excellent reputation for problem resolution,
                improving customer satisfaction, and driving overall operational improvements.
                I'm an enthusiastic professional focused on being productive and adding value
                with a complete understanding of the entire software development lifecycle.
            </p>
            <p>
                I enjoy solving problems, troubleshooting issues, and finding solutions in a as short a time as possible.
                While hard engineering problems are often intrinsically fun to tackle,
                I'm most attracted to solving real customer problems with a business justification.
                I'm looking for a senior individual contributor role where I can take on on collaborative
                team leadership responsibilites, and provide experience with architecture and project management.
            </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
                <li>
                    Monitored system up time and debugging critical issues in a hosted production environment for an award-winning machine learning platform.
                </li>
    			<li>
                    Worked with cross-functional teams to mitigate risks for a major upgrade in an existing customer. Enhanced, tested and documented an ElasticSearch migration tool alongside a comprehensive semi-automated procedure to perform a successfully ES major upgrade for a production environment.
    			</li>
                <li>
                    Architecture design, integration and monitoring of an Enterprise Service Bus for the Port of Bay City Authority, based on an open-source OSGi platform, to provide the integration framework and security policies for internal developments and third-party applications.
    			</li>
                <li>
                    REST API design, prototyping and documentation using Spring MVC and swagger.io for a Java-based cloud platform of energy management and energy efficiency services for major energy consumers.
                </li>
    			<li>
                    Analyzed requirements, designed and implemented multiple websites, based on diverse content management platforms using scalable and high-available system architectures for the Spanish National Cybersecurity Institute (INCIBE) and other local government authorities.
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
